<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Army</title>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
    <h1>Index list of all squads</h1>
        <% squads.forEach(squad => { %>
            <h2> <a href="/army/<%= squad._id%>"><%= squad.squadName %></a> </h2>
            <h3> Squad #<%= squad.squadNumber%></h3>
            <p>Date Formed: <%= squad.squadFormedFormatted %><br>Squad Count: <%= squad.squadMemberCount%><br>Ready for Deployment? <%= squad.isReadyToDeploy%> </p>
            <a href="/army/<%= squad._id%>/edit.ejs">Edit</a>
        <% }) %>

</body>
</html>