<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= soldier.soldierName%></title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="main">
        <h1><%= soldier.soldierTitle%> <%= soldier.soldierName%></h1>
        <a href="/army/<%=squad._id%>/<%= soldier._id%>/edit" id="edit">Edit Soldier</a>
            <p>Hair Color: <%= soldier.hairColor%><br>Height: <%= soldier.height%>cm<br>Weight: <%= soldier.weight%>kg</p>
        <div class="status">
            <h3>Status:</h3>
            <p>Injured? <%= soldier.isInjured %><br> Deployed? <%= soldier.isDeployed %></p>
        </div>
        <div class="squadBox">
            <div class="skills">
                <h3>Skills:</h3>
                <% soldier.soldierSkills.forEach(skill => { %>
                    <p><%= skill%></p>
                <% }) %>
            </div>
            <div class="equip">
                <h3>Equipment:</h3>
                <% soldier.soldierEquipment.forEach(equip => { %>
                    <p><%= equip%></p>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>



        
