<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= squad.squadName%></title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="main">
        <h1>Detailed view of <%= squad.squadName %></h1>
        <h2>Squad #<%= squad.squadNumber%></h2>
        <a id="edit" href="/army/<%= squad._id%>/edit">Edit Squad</a>
        <p><br>Date Formed: <%= squad.squadFormedFormatted %><br><br>Ready for Deployment? <%= squad.isReadyToDeploy%></p>
        <h2>Squad Members:</h2>
        <a id="add" href="/army/<%= squad._id%>/addsoldier">Add soldier to squad</a>
        <div class="squadBox">
            <% soldiers.forEach(soldier => { %>
            <h3><a href="/army/<%= squad._id%>/<%= soldier._id%>"><%= soldier.soldierTitle%> <%=soldier.soldierName%></a></h3>
            <p>Hair Color: <%= soldier.hairColor%><br>Height: <%= soldier.height%>cm<br>Weight: <%= soldier.weight%>kg<br>Deployed? <%= soldier.isDeployed%></p>
            <form action="/army/<%=squad._id%>/<%=soldier._id%>?_method=DELETE" method="POST">
                <button type="submit">Delete <%= soldier.soldierTitle%> <%=soldier.soldierName%></button>
            </form>
            <% }) %>
        </div>
    </div>

</body>
</html>